@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body{
  background-color: var(--primary-color);
  overflow-y: hidden;
}
a{
  text-decoration: none;
}


:root{
  --primary-color: #141414;
  --secondary-color: #fff;
  --sour-color: rgb(255, 80, 16);
  --nav-height: 80px;
}
.dark-theme{
  --secondary-color: #1a1919;
  --primary-color: #fff;
  --sour-color: rgb(255, 80, 16);
  --nav-height: 80px;
}

.sour{
  color: var(--sour-color);
}

.wrapper {
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  /* position: absolute; */
}
.wrapper-inner {
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
  display: flex;
  flex-direction: row;
  width: 400vw;
}

.slide {
  min-width: 100vw;
  height: 100vh;
}

.one {
  background-color: transparent;
}

.one-inner{
  /* excluding the height of navigation from the height of one-inner section */
  height: calc(100% - var(--nav-height));
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text1{
  color: var(--secondary-color);
  font-size: 3rem;
  text-align: center;
}
#text1 > h1{
  display: flex;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.gap-2 {
  gap: 0.5rem; /* Adjust as needed */
}

.w-14 {
  width: 3.5rem; /* Adjust as needed */
}

.h-14 {
  height: 3.5rem; /* Adjust as needed */
}

.rounded-full {
  border-radius: 50%;
}

.bg-radial {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gradient-to-tr {
  background: conic-gradient(from 0deg, violet, indigo 30%, blue 50%, green 60%, yellow 70%, orange 80%, red 100%);
}

.animate-spin {
  animation: spin 1s linear infinite;
}

[animation-delay\:.7s] {
  animation-delay: 0.7s;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}



@media screen and (max-width: 900px) {
  #text1 {
    font-size: 1rem;
  }
}


/* ------------moving bg start-------------- */
.spinner {
  --size: 80px;
  --first-block-clr: #005bba;
  --second-block-clr: #fed500;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: fixed;
  animation: spin 2s linear infinite;
  z-index: -1;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  left: 50%;
  background: var(--first-block-clr);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 2s linear infinite, up 2s infinite;
}

.spinner::after {
  background: var(--second-block-clr);
  animation: orbit 2s linear infinite, down 2s infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
    filter: blur(10px);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
    filter: blur(10px);
  }

  75% {
    transform: translateY(-100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------moving bg end-------------- */

.header{
  position: relative;
}

.nagivation{
  width: 100vw;
  /* height is coming from the root */
  height: var(--nav-height);
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
}

.logo{
  display: flex;
  align-items: center;
}

.logo > img{
  width: 40px;
  z-index: 1;
}

.logo > h2{
  font-weight: 100;
}

/* -------------btns start----------- */
.btn {
  --btn-color: rgb(255, 0, 0);
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span,
        .btn span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span {
  transition-delay: 0.05s;
}

.btn span:first-child {
  padding-right: 7px;
}

.btn span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn ul li {
  flex: 1;
}

.btn ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn ul li a:hover {
  opacity: 0.5;
}

.btn:hover::before {
  transform: scale(1.2);
}

.btn:hover span,
        .btn:hover span span {
  transform: translateY(-55px);
}

.btn:hover ul li a {
  transform: translateY(0);
}

.btn:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}.btn {
  --btn-color: transparent;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span,
        .btn span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span {
  transition-delay: 0.05s;
  color: var(--secondary-color);
}

.btn span:first-child {
  padding-right: 7px;
}

.btn span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn ul li {
  flex: 1;
}

.btn ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn ul li a:hover {
  opacity: 0.5;
}

.btn:hover::before {
  transform: scale(1.2);
}

.btn:hover span,
        .btn:hover span span {
  transform: translateY(-55px);
}

.btn:hover ul li a {
  transform: translateY(0);
}

.btn:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}
/* -------------btns ends----------- */

.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}
.icons > a{
  color: var(--secondary-color);
  opacity: 0.6;
}
.icons > a:hover{
  opacity: 1;
  transition: all ease-in-out;
}


/* ----------theme switcher end------------ */

.switch-nav {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-left: 10px;
}

.switch-nav input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-nav {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider-nav:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider-nav {
  background-color: #522ba7;
}

input:checked + .slider-nav:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
/* ----------theme switcher end------------ */




.two {
  /* background-color: purple; */
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about #img{
  width: 30%;
}
.about #img img{
  width: 100%;
  border-radius: 50%;
}
.about #data{
  width: 40%;
  text-align: center;
  color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  .about{
    flex-direction: column;
    justify-content: center;
  }
  .about #img{
    width: 90%;
  }
  .about #data{
    width: 90%;
  }
}







.three {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}


.four {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}

.five {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}
.six {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}
.seven {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}
.last {
  background-color: transparent;
  /* color: #fff; */
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}











.outer-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.one {
  background-color: red;
  font-size: 2rem;
  color: wheat;
}
.two {
  background-color: blue;
  font-size: 2rem;

  color: wheat;
}
.three {
  background-color: green;
  font-size: 2rem;

  color: wheat;
}
.four {
  background-color: yellow;
  font-size: 2rem;

  color: wheat;
}

.outer-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
} */


#toggle{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 999;
}